<div class="col-md-12">
  <%- if @translation_permissions.empty? %>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 empty-state text-center">
      <h2>Start Creating</h2>
      <p>Good to have you onboard! Get started by creating your first campaign below. Go on, give it a try!</p>
      <br />
      <a class="btn btn-default btn-primary btn-lg" href="<%= new_campaign_path %>">
        <%= fa_icon "plus-circle" %>
        Create New Campaign
      </a>
    </div>
  </div>
  <% else %>
  <section class="panel">
    <header class="panel-heading">
      Campaigns to Translate
    </header>
    <div class="panel-body panel-index-body">
      <table class="table table-striped index-table">
        <tbody>
          <% @translation_permissions.each do |translation_permission| %>
            <tr>
              <td style="background-image: url(//img.youtube.com/vi/<%= translation_permission.resource.engagement_player.try(:youtube_video_id) %>/maxresdefault.jpg)">
                <div class="button-row">
                  <a href="<%= edit_translation_path(translation_permission) %>" class="btn btn-primary">
                    <%= fa_icon "chevron-right" %>
                  </a>
                </div>
                <div class="pull-left cover">
                  <h3><%= translation_permission.resource.name %></h3>
                  <div><span class="label label-primary"><%= translation_permission.locale.name %></span></div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <% end -%>
</div>