<div class="tab-pane" id="engagement_player">
  <div class="row">
    <div class="col-md-8">
      <h3><%= fa_icon "angle-double-right" %> Media</h3>
      <div class="js-video widescreen">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= campaign.engagement_player.try(:decorate).try(:youtube_video_id) %>?modestbranding=1&amp;rel=0&amp;showinfo=0&amp;theme=light&amp;color=white&amp;autohide=0" frameborder="0"></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <h3><%= fa_icon "angle-double-right" %> Survey</h3>

      <table class="table table-striped">
        <tbody>
          <% Campaign::Survey::QuestionDecorator.decorate_collection(campaign.survey.questions).each do |question| %>
            <tr>
              <td>
                <a href="<%= question.permalink %>" target="_blank">
                  <h4><%= fa_icon "link" %>
                  <%= question.title %></h4>
                </a>
                <h5><%= question.help_text %></h5>
                <ul>
                <% Campaign::Survey::Question::OptionDecorator.decorate_collection(question.options).each do |option| %>
                  <li>
                    <a href="<%= option.permalink %>" target="_blank">
                      <%= fa_icon "link" %>
                      <%= option.title %>
                    </a>
                  </li>
                <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>