<div class="tab-pane" id="translation">
<!-- Button trigger modal -->
<button class="pull-right btn btn-primary btn-sm" data-toggle="modal" data-target="#invite_translators">
  Invite New Translators
</button>

<!-- Modal -->
<div class="modal fade iframe" id="invite_translators" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Invite New Translators</h4>
      </div>
      <div class="modal-body">
        <iframe src="<%= new_campaign_user_translator_invite_path(@campaign) %>">
        </iframe>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<h3><%= fa_icon "angle-double-right" %> <span class="text-muted">Base Locale:</span> <%= @campaign.locale.name %></h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% Translation.base.where(campaign: @campaign).order(:created_at).each do |translation| %>
        <tr>
          <td><%= translation.resource_type %></td>
          <td><%= translation.field.titleize %></td>
          <td><%= translation.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% @campaign.available_locales.each do |campaign_locale| %>
    <h3><%= campaign_locale.locale.name %></h3>
    <table class="table table-striped">
    <tbody>
    <tr>
      <th class="text-right" style="width:10%">Translators</th>
      <td>
      <% campaign_locale.permissions.each do |permission| %>
        <span class="label label-primary"><%= permission.user.name %> <%= link_to fa_icon('times'), campaign_permission_path(@campaign, permission), method: :delete, class:"text-danger" %></span>
      <% end %>
      </td>
    </tr>
    <tr>
      <th class="text-right" style="width:10%">Progress</th>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= campaign_locale.completion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= campaign_locale.completion %>%;">
            <%= campaign_locale.completion %>%
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <% end %>
</div>